<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.duantotnghiep">

    <uses-feature android:name="android.hardware.screen.portrait" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_green"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuAnTotNghiep"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.NotificationActivity"
            android:exported="false" />

        <service
            android:name=".Service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".BroadcastReceiver.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.duantotnghiep.NOTIFICATION_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".BroadcastReceiver.NetworkBroadcastReceiver"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Service.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </receiver>

        <activity
            android:configChanges="locale"

            android:name=".Activities.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:configChanges="locale"

            android:name=".Activities.PaymentActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="locale"

            android:name=".Activities.StoreInfoActivity"
            android:exported="false" />
        <activity
            android:configChanges="locale"

            android:name=".Activities.ChooseStoreActivity"
            android:exported="false" />
        <activity
            android:configChanges="locale"

            android:name=".Activities.ChooseFromMapActivity"
            android:exported="false" />
        <activity
            android:configChanges="locale"

            android:name=".Activities.ChooseAddressActivity"
            android:exported="false" />
        <activity
            android:configChanges="locale"

            android:name=".Activities.ProductDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBiebu4Qm95Q67dubdDb2Bn6XqGnliFXB4" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:configChanges="locale"

            android:name=".Activities.SavedAddressActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UserInfoActivity"
            android:exported="false" />
        <activity
            android:configChanges="locale"

            android:name=".Activities.ViewImageActivity"
            android:exported="false" />


        <activity
            android:configChanges="locale"

            android:name=".Activities.WebViewActivity"
            android:exported="false" />
        <activity
            android:configChanges="locale"

            android:name=".Activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:configChanges="locale"

            android:name=".Activities.SuccessActivity"
            android:exported="false" />
        <activity
            android:configChanges="locale"

            android:name=".Activities.OtpVerifyActivity"
            android:exported="false" />
        <activity
            android:configChanges="locale"

            android:name=".Activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:configChanges="locale"

            android:name=".Activities.RegisterActivity"
            android:exported="true" />
        <activity
            android:configChanges="locale"
            android:name=".Activities.LoginActivity"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".Activities.OnBoardingActivity"
            android:exported="true" />
        <activity
            android:configChanges="locale"
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:configChanges="locale"
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>